<div class="container mt-3 bg-white pt-3">
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
          <tr>
            <th>Course Id</th>
            <th>Course Name </th>
            <th>Duration</th>
            <th>Enrollment Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Angular</td>
            <td>12 hr</td>
            <td>12/09/2022</td>
          </tr>
          <tr>
            <td>2</td>
            <td>React Js</td>
            <td>9 hr</td>
            <td>29/05/2022</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Cloud Computing</td>
            <td>15 hr</td>
            <td>08/05/2022</td>
          </tr>
          
  
        </tbody>
      </table>
      
</div>