<section class="container pb-3">
    <h1 class="display-1">LMS</h1>
  
    <p class="lead">
      New age AI driven LMS
    </p>

    Learning a little each day adds up. Research shows that students who make learning a habit are more likely to retain information and reach their goals. Set time aside to learn and get reminders using your learning event scheduler.    

  </section>

  <div class="parallax"></div>

  <section class="container pt-3">
    <h3>Teach the world online</h3>
    Create an online video course, reach students across the globe, and earn money
    <button class="btn btn-warning">Teach on LMS</button>
  </section>


  