<section class="container mt-5">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong> <i class="bi bi-alarm"></i> Schedule learning time</strong> <br> Learning each day adds up. Reasearch shows that students who make learning a habbit are more likely to search their goals.set time aside to learn and get reminders using your learning scheduler.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> <br>
    <button class="btn btn-secondary">Get started</button>
  </div>
</section>

<section class="container pb-3">
    <h1 class="display-1">LMS</h1>
  
    <p class="lead">
      New age AI driven LMS
    </p>

    Learning a little each day adds up. Research shows that students who make learning a habit are more likely to retain information and reach their goals. Set time aside to learn and get reminders using your learning event scheduler.    

  </section>

  <div class="parallax"></div>

  <section class="container pt-3">
    <h3>Teach the world online</h3>
    Create an online video course, reach students across the globe, and earn money
    <button class="btn btn-warning">Teach on LMS</button>
  </section>

  <section>

<section class="text-center bg-light p-3">
  <div class="container">
      <div class="row">
          <div class="col">
              <p class="display-4 text-center text-primary">
                  Our Services
              </p>
              <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, tenetur.</p>
          </div>
      </div>
  
      <div class="row">
        <div class="col">
          <i class="bi bi-gear display-4" ></i>
          <h1>title 1  </h1>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla a quasi minus possimus? Nulla ea voluptatibus ipsa temporibus in optio?</p>
            </div>
        <div class="col">
          <i class="bi bi-bar-chart display-4"></i>
          <h1>title 2</h1>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla a quasi minus possimus? Nulla ea voluptatibus ipsa temporibus in optio?</p>
        </div>
        <div class="col">
          <i class="bi bi-bell display-4"></i>
          <h1>title 3</h1>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla a quasi minus possimus? Nulla ea voluptatibus ipsa temporibus in optio?</p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="text-center p-5">
    <div class="container">
     <div class="row">
          <div class="col">
              <p class="display-4 text-center text-primary">
                  Our Leadership
              </p>
              <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, tenetur.</p>
          </div>
      </div>
  
  
      <div class="row">
        <div class="col">
          <div class="card">
    <img src="assets/pic3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
        </div>
        <div class="col">
          <div class="card">
    <img src="assets/pic2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
        </div>
        <div class="col">
          <div class="card">
    <img src="assets/pic3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
        </div>
      </div>
    </div>
  </section>
  </section>

  